@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}


.section-class{
    padding: 60px 48px;
    border-radius: 44px;
    background-color: rgb(42, 52, 84) !important;
    margin: 20px;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    background-color: #1e253d;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}
body::-webkit-scrollbar-thumb {
    background-color: silver;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white;
    background-color: transparent;
}
.header {
    padding: 8px 40px;
    background-color: #1e253d;
    transition: top 0.3s;
    z-index: 1000;
    max-width: 1920px;
    margin: 0 auto;
    box-shadow: 8px 14px 31px 2px rgba(255, 255, 255, 0.46);
    -webkit-box-shadow: 8px 14px 31px 2px rgba(255, 255, 255, 0.46);
    -moz-box-shadow: 8px 14px 31px 2px rgba(255, 255, 255, 0.46);
    margin-top: 30px;
    border-radius: 50px;
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.header-link,
.footer-brand {
    text-decoration: none;
    color: #ffffff;
    font-weight: 900;
    font-size: 26px;
    transition: color 0.3s ease;
}
.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav-item {
    margin-left: 20px;
}
.nav-link {
    font-weight: 400;
    text-decoration: none;
    color: rgb(154, 154, 154);
    font-size: 18px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

@media (max-width: 550px) {
    .nav-item {
        margin-left: 5px;
        font-size: 14px;
    }
    .nav-link {
        padding: 2px 5px;
    }
}

.nav-list.show {
    max-height: 100%;
    opacity: 1;
    right: 0;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.burger-line {
    width: 30px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin: 3px 0;
    transition: 0.3s;
}

.burger-menu.active .burger-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.burger-menu.active .burger-line:nth-child(2) {
    opacity: 0;
}

.burger-menu.active .burger-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

@media (max-width: 730px) {
    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }
    .nav-list {
        display: flex;
    }

    .nav-item:first-child {
        margin-top: 20px;
    }

    .burger-menu {
        display: flex;
        margin-right: 15px;
    }
    .navigation {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 40px;
    }
}

.main-content {
    margin-top: 50px;
}

.navigation {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .main-content {
        margin-top: 52px;
    }
    .navigation {
        justify-content: space-between;
    }
}

.nav-list {
    display: flex;
    gap: 14px;
    list-style: none;
}

.nav-item {
    position: relative;
}

.hide {
    top: -100px; /* Или любое другое значение, чтобы скрыть хедер */
}

@media (max-width: 730px) {
    .burger-menu {
        display: flex;
        z-index: 10000;
    }
    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column; /* Изменяем на колонку для бокового меню */
        background-color: #1e253d;
        position: fixed; /* Фиксируем меню */
        top: 0;
        right: -250px; /* Скрываем за пределами экрана */
        width: 250px; /* Ширина меню */
        height: 100%; /* Высота на весь экран */
        transition: right 0.3s ease; /* Анимация */
        z-index: 999; /* Указываем z-index */
        border-left: 2px solid #ffffff;
    }
    .nav-list.active {
        display: flex;
    }
    .nav-link-underline {
        border: none;
    }
}

@media (max-width:426px) {
    
    .burger-line{
        background-color: rgb(255, 255, 255);
    }
    .main-content{
        margin-top: 0;
    }
    .slider-header{
        margin-top: 0;
    }
    .nav-list{
        top: 0;
    }
    
}

.footer {
    background-color: #262e49;
    color: #ffffff; /* White text color */
    padding: 20px;
    text-align: center;
    margin-top: auto;
    box-shadow: 6px -7px 31px 2px rgba(146, 146, 146, 0.46);
    -webkit-box-shadow: 6px -7px 31px 2px rgba(118, 118, 118, 0.46);
    -moz-box-shadow: 6px -7px 31px 2px rgba(157, 157, 157, 0.46);
}

.footer-content {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
}

.footer-details {
    margin-bottom: 15px; /* Space between brand and links */
}

.footer-links {
    margin-bottom: 15px; /* Space below links */
}

.footer-links a {
    color: rgb(154, 154, 154); /* White color for links */
    text-decoration: none; /* Remove underline */
    margin: 0 10px; /* Space between links */
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    font-size: 18px;
    font-weight: 400;
}

.footer-rights {
    font-size: 14px; /* Similar size for rights statement */
    margin-top: 15px; /* Space above this statement */
}
.contacts-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-footer {
    transition: all 0.3s ease;
    color: #c7c48c;
}

.nav-list-footer {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Stack vertically on smaller screens */
    }
    
    .footer-links {
        flex-direction: column; /* Stack links vertically on smaller screens */
        align-items: center; /* Center links */
    }
    
    .footer-links a {
        margin: 5px 0; /* Space between stacked links */
    }
}

.parallax-section {
    position: relative;
    height: 400px;
    overflow: hidden;
    margin-top: -168px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.parallax-bg {
    background-image: url('img/hero-bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.parallax-main-title {
    font-size: 48px;
}

@media (max-width: 768px) {
    .parallax-main-title {
        font-size: 28px;
    }
    .section-class{
        padding: 20px;
        margin: 10px;
    }
}



.about-us-container {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.about-us-text {
    max-width: 800px; 
    margin-bottom: 20px;
    color: white;
}

.about-us-image {
    margin: 20px 0;
}

.about-us-image img {
    max-width: 90%;
    height: auto;
    border-radius: 30px;
}

.about-button {
    background-color: #a6ff00;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease,
                color 0.3s ease;
    width: 140px;
}

@media (min-width: 768px) {
    .about-us-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .about-us-text {
        margin-right: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.service-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px 20px;
}

.service {
    background-color: #003038;
    border: 1px solid #ddd;
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: calc(33% - 20px);
    text-align: center;
    transition: transform 0.3s;
}

.service-image {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.service-title {
    font-size: 1.5em;
    margin: 15px 0 10px;
}

.service-text {
    font-size: 1em;
    margin: 0 15px 15px;
}

.service-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #053f91;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 140px;
    transition: background-color 0.3s ease,
                color 0.3s ease;
}

@media (max-width: 768px) {
    .service {
        width: calc(100% - 20px);
    }
}


.cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.card {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.41);
    color: white;
}

.text-block {
    padding: 20px;
    flex: 1;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}

.card-description {
    font-size: 16px;
    color: white;
}

.image-block {
    width: 200px;
    background-size: cover;
    background-position: center;
}

.card-image-1 {
    background-image: url('../img/kitchen/kitchen-5.jpg');
}

.card-image-2 {
    background-image: url('../img/kitchen/kitchen-6.jpg');
}

.card-image-3 {
    background-image: url('../img/kitchen/kitchen-7.jpg');
}

.card-image-4 {
    background-image: url('../img/kitchen/kitchen-8.jpg');
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .image-block {
        width: 100%;
        height: 200px;
    }
}

.additional-furniture-elements {
    padding: 40px 20px;
    text-align: center;
    background-color: #f4f4f4;
}

.main-furniture-title {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.section-furniture-title {
    text-align: left;
    font-size: 24px;
    margin: 20px 0;
    color: #444;
}

.divider-furniture {
    border: 2px solid #000000;
    margin: 20px auto;
    width: 90%;
}

.cards-furniture-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-furniture {
    display: flex;
    flex-direction: column;
    border: 1px solid #bababa;
    border-radius: 20px;
    overflow: hidden;
    width: calc(24% - 20px);
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-furniture-image {
    width: 100%;
    height: auto;
}

.card-furniture-description {
    padding: 10px;
    font-size: 16px;
    color: #666;
}

.card-furniture-price {
    padding: 10px;
    font-size: 18px;
    color: #333;
}

.card-furniture-button {
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease,
                color 0.3s ease;
}

@media (max-width: 1024px) {
    .card-furniture {
        width: calc(31% - 20px);
    }
}

@media (max-width: 768px) {
    .card-furniture {
        width: calc(48% - 20px);
    }
}

@media (max-width: 480px) {
    .card-furniture {
        width: 100%;
    }
}



.stats-section {
    background-color: #f8f8f8;
    padding: 60px 20px;
    text-align: center;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.stat-item {
    padding: 20px;
    margin: 10px;
    flex: 1;
    min-width: 200px;
    background-color: rgb(105, 192, 245);
    border-radius: 30px;
}

.stat-number {
    font-size: 3.5rem;
    font-weight: 900;
    color: #000000;
    margin-bottom: 10px;
    line-height: 1;
}

.stat-label {
    font-size: 1.2rem;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .stats-container {
        flex-direction: column;
        align-items: center;
    }
    
    .stat-item {
        width: 100%;
        max-width: 300px;
    }
    
    .stat-number {
        font-size: 2.8rem;
    }
    
    .stat-label {
        font-size: 1rem;
    }
}

.Tower-card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4px;
    gap: 20px; /* Spacing between cards */
}

.Tower-card {
    background-color: #1e253d;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: calc(33% - 20px); /* Width for larger screens */
    display: flex;
    flex-direction: column;
    padding: 15px;
    transition: transform 0.3s ease;
}

.Tower-card:hover {
    transform: translateY(-5px); /* Lift effect on hover */
}

.Tower-card-title {
    font-size: 2.4rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.Tower-card-content {
    display: flex;
    align-items: center;
}

.Tower-card-icon {
    font-size: 2rem;
    color: #f6baba; /* Icon color */
    margin-right: 10px;
}

.Tower-card-text {
    font-size: 1.8rem;
    color: #8bbbf9;
}

@media (max-width: 1080px) {
    .Tower-card-title {
        font-size: 2rem;
    }
    .Tower-card-icon {
        font-size: 1.6rem;
    }
    
    .Tower-card-text {
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {
    .Tower-card {
        width: 100%; /* Full width for smaller screens */
    }
    .Tower-card-title {
        font-size: 2rem;
    }
    .Tower-card-icon {
        font-size: 1.6rem;
    }
    
    .Tower-card-text {
        font-size: 1.4rem;
    }
}

.privacy-statement {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 30px;
}

.privacy-heading {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 15px;
}

.privacy-introduction,
.privacy-details {
    font-size: 22px;
    line-height: 1.6;
    color: #a9a9a9;
    margin-bottom: 15px;
}

.privacy-subheading {
    font-size: 20px;
    color: #a9a9a9;
    margin-top: 20px;
}

.privacy-list {
    padding-left: 20px;
    list-style-type: disc;
    margin-bottom: 15px;
}

.privacy-contact {
    padding-left: 20px;
    list-style-type: none;
    margin-bottom: 15px;
}

.priv-term{
    color: #8bbbf9;
}

/* Responsive design */
@media (max-width: 768px) {
    .privacy-statement {
        padding: 15px;
    }

    .privacy-heading {
        font-size: 20px;
    }

    .privacy-subheading {
        font-size: 18px;
    }
    
    .privacy-introduction,
    .privacy-details {
        font-size: 14px;
    }
}
.terms-and-conditions {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 30px;
}

.privacy-heading {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 15px;
}

.privacy-introduction,
.privacy-details {
    font-size: 22px;
    line-height: 1.6;
    color: #a9a9a9;
    margin-bottom: 15px;
}

.privacy-subheading {
    font-size: 20px;
    color: #a9a9a9;
    margin-top: 20px;
}

.privacy-list {
    padding-left: 20px;
    list-style-type: disc;
    margin-bottom: 15px;
}

.privacy-contact {
    padding-left: 20px;
    list-style-type: none;
    margin-bottom: 15px;
}

/* Responsive design */
@media (max-width: 768px) {
    .terms-and-conditions {
        padding: 15px;
    }

    .privacy-heading {
        font-size: 20px;
    }

    .privacy-subheading {
        font-size: 18px;
    }

    .privacy-introduction,
    .privacy-details {
        font-size: 14px;
    }
}

.launch-container {
    max-width: 90%;
    margin: auto;
    background-color: #1e253d;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.launch-heading {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 15px;
}

.launch-description {
    font-size: 24px;
    color: #919191;
    line-height: 1.6;
    margin-bottom: 20px;
}

.start-button {
    display: inline-block;
    padding: 12px 25px;
    font-size: 18px;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Responsive design */
@media (max-width: 768px) {
    .launch-heading {
        font-size: 24px;
    }

    .launch-description {
        font-size: 16px;
    }

    .start-button {
        font-size: 16px;
        padding: 10px 20px;
    }
}

.new-arrivals {
    padding: 20px;
    text-align: left;
}

.new-arrivals-title {
    margin-bottom: 20px;
    font-weight: bold;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
    font-size: 42px;
}

.new-arrivals-slider {
    position: relative;
    overflow: hidden;
}

.new-arrivals-slider-container {
    display: flex;
    transition: transform 0.5s ease;
    justify-content: flex-start;
}

.new-arrivals-card {
    background-color: #1e253d;
    border-radius: 16px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex: 0 0 calc(25% - 20px);
    min-width: 200px;
}

.new-arrivals-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.new-arrivals-card h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.new-arrivals-card p {
    color: #a4a4a4;
}

.order-btn {
    margin-top: 10px;
    padding: 4px 25px;
    background-color: #ddc15d;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    transition: background-color 0.3s ease,
                color 0.3s ease;
}

.new-arrivals-prev, .new-arrivals-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 217, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10;
    transition: all 0.3s ease;
}

.new-arrivals-prev {
    left: 10px;
}

.new-arrivals-next {
    right: 10px;
}

@media (max-width: 768px) {
    .new-arrivals-card {
        flex: 0 0 calc(50% - 20px);
    }
    .new-arrivals-title {
        margin-bottom: 20px;
        font-weight: bold;
        color: #ffffff;
        font-weight: 900;
        text-align: center;
        font-size: 32px;
    }
}

@media (max-width: 480px) {
    .new-arrivals-card {
        flex: 0 0 calc(100% - 20px);
    }
}

.advantages-section {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 120px;
}

.advantages-title {
    text-align: center;
    font-size: 38px;
    color: #ffffff;
    margin-bottom: 30px;
}

.advantage-block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.advantage-image {
    width: 50%;
    height: auto;
    border-radius: 30px;
}

.advantage-text {
    width: 50%;
    padding: 0 20px;
}

.advantage-subtitle {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}

.advantage-description {
    font-size: 16px;
    color: #a7a7a7;
}

.btn-vacancies {
    display: inline-block;
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s;
}

@media (max-width: 768px) {
    .advantages-section {
        padding: 40px 20px;
    }
    .advantage-block {
        flex-direction: column;
        align-items: flex-start;
    }

    .advantage-image {
        width: 100%;
        margin-bottom: 10px;
    }

    .advantage-text {
        width: 100%;
        padding: 0;
    }

    .revers-text {
        flex-direction: column-reverse;
    }
}

.faq-section {
    max-width: 96%;
    margin: 20px auto;
    padding: 20px;
}

.faq-title {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.faq-item {
    margin-bottom: 10px;
    overflow: hidden;
}

.faq-question {
    background-color: #c5b661;
    color: white;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-answer {
    max-height: 0; /* Скрываем ответ по умолчанию */
    overflow: hidden;
    padding: 0 15px; 
    background-color: #211e44;
    border-top: 1px solid #ddd;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding-top: 0; /* Изначально нет отступа вверху */
    padding-bottom: 0; /* Изначально нет отступа внизу */
}

.faq-answer.open {
    padding-top: 15px;  /* Отступ при открытом элементе */
    padding-bottom: 15px; /* Отступ внизу при открытом элементе */
}

/* Адаптивный дизайн */
@media (max-width: 768px) {
    .faq-section {
        margin: 10px; 
        padding: 15px; 
        margin-top: 40px;
        max-width: 100%;
    }

    .faq-title {
        font-size: 1.5em; 
    }

    .faq-question {
        padding: 10px; 
    }
}

.team-section {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 96%;
}

.team-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffffff;
}
.team-icon {
    font-size: 32px;
}
.team-section p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #ffffff;
}

.team-card p { 
    color: rgb(163, 149, 104);
}

.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-card {
    background-color: #1e253d;
    border-radius: 8px;
    padding: 15px;
    width: calc(33.33% - 20px);
    transition: transform 0.3s;
}

.team-card:hover {
    transform: scale(1.05);
}

.team-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.team-card h3 {
    margin: 10px 0 5px;
    color: white;
}

.team-card p {
    margin: 5px 0;
}

@media (max-width: 900px) {
    .team-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .team-card {
        width: 100%;
    }
}












.reviews-section {
    overflow: hidden;
}

.reviews-section-title {
    text-align: center;
    font-size: 2em;
    color: #7e490b;
    margin-bottom: 15px;
}

.slider-review {
    margin-top: 15px;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.review {
    flex: 0 0 100%;
    padding: 5px;
    border: 2px solid #7e490b;
    border-radius: 30px;
    box-sizing: border-box;
    text-align: center;
}

.review p {
    font-size: 14px;
    color: #7e490b;
}

.author {
    font-weight: bold;
    color: rgb(150, 55, 20);
    margin-top: 5px;
    font-size: 12px;
}

.buttons-review {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.btn-review {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 30px;
    border: none;
    color: black;
    cursor: pointer;
    background-color: #eaeaea;
    transition: background-color 0.3s ease;
}

.review img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 5px;
}












@media (min-width: 1025px) {
    .header-link:hover,
    .footer-brand:hover {
        color: #c7c48c;
    }
    .nav-link:hover {
        color: #c7c48c;
        border-bottom: 2px solid #c7c48c;
    }
    .footer-links a:hover {
        color: #c7c48c;
        border-bottom: 2px solid #c7c48c;
    }
    .contact-footer:hover {
        color: rgb(255, 255, 255);
    }
    .priv-term:hover{
        text-decoration: underline;
    }
    .start-button:hover {
        background-color: #0056b3;
    }
    .order-btn:hover {
        background-color: #ffc800;
    }
    .new-arrivals-prev:hover, .new-arrivals-next:hover {
        background-color: rgba(255, 217, 0, 0.707);
    }
    .btn-vacancies:hover {
        background-color: rgb(20, 47, 106);
    }
}